@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(img/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.container {
  padding: 20px 70px;
  color: #fff;
}

#container0 {
  display: flex;
  align-items: flex-start;
}

input[name="city"] {
  background: rgba(24, 24, 27, 0.4);
  padding: 5px;
  border-radius: 10px;
  margin: 1px 0;
  border: #eee solid 1px;
  color: #eee;
  margin-right: 10px;
}
input[name="city"]:hover {
  background: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
}

.button {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9em;
  margin: 0 10px;
  font-weight: 200;
}

.currentInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dateContainer {
  font-weight: 100;
}

.dateContainer .time {
  font-size: 4.5em;
  font-weight: 100;
}

.dateContainer #am-pm {
  font-size: 0.5em;
  margin-left: 20px;
}

.dateContainer .date {
  font-size: 2em;
  font-weight: 100;
}

.placeContainer {
  text-align: end;
}

.placeContainer .timeZone {
  font-size: 1.8em;
  font-weight: 200;
}

.placeContainer .country {
  font-size: 0.8em;
  font-weight: 700;
}

.currentInfo .others .weatherData {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: #eee solid 1px;
}

.currentInfo .others .weatherInfo {
  display: flex;
  justify-content: space-between;
}

.futureForcast {
  background: rgba(24, 24, 27, 0.6);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: white;
  width: 100%;
  justify-content: start;
  align-items: none;
  overflow-y: scroll;
}

.futureForcast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
}

.futureForcast .today .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.futureForcast .today .temp {
  font-size: 20px;
  padding-top: 15px;
  inline-size: 150px;
}

.futureForcast .weatherForcasts {
  display: flex;
}

.weatherForcasts .weatherForcastItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
}

.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  height: 100%;
}

.currentTemp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
  inline-size: 100px;
}

.weatherForcasts .weatherForcastItem .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.weatherForcasts .weatherForcastItem .forcastTemp {
  font-weight: 100;
  inline-size: 100px;
  text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 730px) {
  .futureForcast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }
}
